{% include 'trekkapp/Home.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% if success %}
<script>
    alert("Form submitted successfully!")
</script>
{% endif %}
{% if failure %}
<div class="btn btn-warning">The form was not submitted error</div>

{% endif %}
{% if number %}
<script>
    alert("The number is incorrect error");
</script>

{% endif %}
{% if email %}
<script>
    alert("The email is incorrect error");
</script>

{% endif %}
{% if captcha %}
<script>
    alert("Captcha failedr");
</script>

{% endif %}

<style>
    .form-floating{
        box-shadow: 0px 0px 200px -100px; 
    }
</style>

<center>
<div style="width: 70%; max-width: 500px;" ><form action="" method="post" style="padding: 10px;" class="card form-floating">
    
    {% csrf_token %}
        
    <p class="form-floating"> 
        <input type="text" name="name" class="form-control" required="true"  id="floatingInput" placeholder="Name">
        <label for="floatingInput">Name</label>
    </p>
    <p class="form-floating">
        
        <input type="text" name="email" class="form-control" required="" maxlength="320" id="id_email" placeholder="Email">
        <label for="id_email" >Email:</label> 
        <div id="emailcheck"></div>
    </p>
    <p class="form-floating"> 
        <input class="form-control" type="tel" name="number" maxlength="128" id="id_number" placeholder="Number">
        <label for="id_number">Number:</label>
        <div id="numcheck"></div>
    </p>
    <p class="form-floating"> 
        <textarea class="form-control" name="message" cols="40" rows="10" class="form-control" required="" id="id_message" placeholder="Messafe"></textarea>
        <label for="id_message">Message:</label>
    </p>
    <div class="g-recaptcha" data-sitekey="6LegtRAqAAAAALIbBVLcMgknVNJfrrfSShTFJ9DX"></div>
    <p class="form-floating">
        </p>
        <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    <script>
    function validatePhoneNumber(phone) {
                const phoneRegex = /^(?:\+91|91)?[789]\d{9}$/;
                return phoneRegex.test(phone);
            }
        function isValidEmail(email) {
            var regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            return regex.test(email);
        }
    document.getElementById("id_email").addEventListener('input',function(){
        console.log("this");
        if(isValidEmail(document.getElementById("id_email").value))
        {
          document.getElementById("emailcheck").innerText="Email Valid";
          document.getElementById("emailcheck").style.color="green";
        }
        else
        {
          document.getElementById("emailcheck").innerText="Email Invalid";
          document.getElementById("emailcheck").style.color="red";
        }
      });
      document.getElementById('id_number').addEventListener('input',function(){
        
        if(validatePhoneNumber(document.getElementById('id_number').value)){
          document.getElementById('numcheck').innerText="Number Valid";
          document.getElementById("numcheck").style.color="green";
        }
        else
        {
          document.getElementById('numcheck').innerText="Number Invalid";
          document.getElementById("numcheck").style.color="red";
        }
      });</script>
</div></center>