{% include 'trekkapp/Home.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% if success %}
<div class="btn btn-success">The form was submitted successfully</div>
{% endif %}
{% if failure %}
<div class="btn btn-warning">The form was not submitted error</div>
{% endif %}
{{ form.errors.as_p }}
<center>
<div style="width: 70%;" class="btn btn-warning"><form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div></center>