{% include 'trekkapp/Home.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% if success %}
<script>
    alert("Form submitted successfully!")
</script>
{% endif %}
{% if failure %}
<div class="btn btn-warning">The form was not submitted error</div>

{% endif %}
{% if number %}
<script>
    alert("The number is incorrect error");
</script>

{% endif %}
{% if email %}
<script>
    alert("The email is incorrect error");
</script>

{% endif %}
{% if captcha %}
<script>
    alert("Captcha failedr");
</script>

{% endif %}

<style>
    .form-floating{
        box-shadow: 0px 0px 200px -100px; 
    }
</style>

<center>
<div style="width: 70%; max-width: 500px;" ><form action="" method="post" style="padding: 10px;" class="card form-floating">
    
    {% csrf_token %}
        
    <p class="form-floating"> 
        <input type="text" name="name" class="form-control" required="true"  id="floatingInput" placeholder="Name">
        <label for="floatingInput">Name</label>
    </p>
    <p class="form-floating">
        
        <input type="text" name="email" class="form-control" required="" maxlength="320" id="id_email" placeholder="Email">
        <label for="id_email" >Email:</label> 
    </p>
    <p class="form-floating"> 
        <input class="form-control" type="tel" name="number" maxlength="128" id="id_number" placeholder="Number">
        <label for="id_number">Number:</label>
    </p>
    <p class="form-floating"> 
        <textarea class="form-control" name="message" cols="40" rows="10" class="form-control" required="" id="id_message" placeholder="Messafe"></textarea>
        <label for="id_message">Message:</label>
    </p>
    <div class="g-recaptcha" data-sitekey="6LegtRAqAAAAALIbBVLcMgknVNJfrrfSShTFJ9DX"></div>
        <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    
</div></center>