{% extends "trekkapp/Home.html" %}
{% block content %}
<center><h1>Payment Options</h1></center>
<div style="margin:50px;">
<div class="content text-align-center ckeditor-content"><p><span class="marker"><strong>Payment Options:</strong></span></p>

<p>&nbsp;</p>

<p><span class="marker"><strong>Online Payment</strong></span></p>

<ul>
	<li><span class="marker">Pre Payment on our website is recommend</span></li>
	<li><span class="marker">Paytm - UPI - NEFT / IMPS - Payment Gateway options are available</span></li>
	<li><span class="marker">Visit our website, choose the event you want to register for, How to register tab. You can click on payment button or use IMPS Neft. You can make the payment through Credit/Debit Card or Internet Banking</span></li>
</ul>

<p>&nbsp;</p>

<p><span class="marker"><strong>Cash Payment option not available</strong></span></p>

<ul>
	<li><span class="marker">We do not accept on the spot cash payment from participant. Please check our registration policy for the same</span></li>
	<li><span class="marker">Registration is only confirmed for prepaid participant</span></li>
</ul>

<p>&nbsp;</p>

<p><span class="marker"><strong>Kindly note</strong></span></p>

<ul>
	<li><span class="marker">Payment does not automatically ensure entry to the event. Before transferring the amount, kindly confirm with Treks and Trails India for the availability of seats</span></li>
	<li><span class="marker">If amount is transferred without consulting, the registration will not be considered. The amount will be refunded by NEFT/ Cheque / Paytm at office after 5 days from the date of Event</span></li>
	<li><span class="marker">Registration will not be considered Valid till we receive the email giving all the details mentioned above. After receiving your mail we will send you the confirmation of your Participation for the event by Email which concludes the registration process</span></li>
</ul>
</div>
{% endblock %}