{% extends "trekkapp/Home.html" %}
{% block content %}
<center><h1>Privacy Policy</h1></center>
<div style="margin:50px;">
<div class="content  ckeditor-content"><p>Treks and Trails India was established in 2012. An initiative to trek and be with nature. Yet it's not just another trekking group. The basic funda being - do the ordinary in an extraordinary way.</p>

<p>Meeting like minded individuals. Sharing best practices and to evolve as the foremost community in conducting trekking activities. Treks and Trails India believe in Leave no Trace policy while conducting all its events. Grievance / Feedback: Equal opportunity is provided to hear any grievance during and as well as after the event. Treks and Trails India will accept all feedback constructively. Feel Free to email us&nbsp;<a href="mailto:connect@treksandtrails.org">connect@treksandtrails.org</a>&nbsp;</p>

<p>At Treks and Trails India, we strongly believe in protecting consumer privacy. That's why we only ask you for information related to the services we provide. We never sell, rent, share, trade or give away any of your personal information to anyone. This privacy policy describes what information we collect from you, how it is used and what security measures we take to protect it.</p>

<p>&nbsp;</p>

<p><strong>IP Addresses &amp; Cookies</strong></p>

<p>In order for us to provide an attractive and easy-to-navigate website, we must occasionally use our visitors’ IP addresses for purposes such as optimising our use of search engines or diagnosing problems with our server. Furthermore, to better tailor our website and product offerings to our customers, we use Google Analytics to collect information on how visitors navigate our website.&nbsp;<a href="http://www.nordicvisitor.com/cookies/">Cookies&nbsp;</a>are used to collect aggregated data that allows us to see the origins of web traffic, amount of visitors, visitors’ operating systems, browser types, etc. This data does not personally identify you in any way. You can choose not to accept cookies by disabling them in the settings of your web browser.</p>

<p>&nbsp;</p>

<p><strong>Bookings &amp; Payments</strong></p>

<p>When you book a tour on our website, we require contact information, such as your name and e-mail address and, in some cases, partial or full postal address or telephone number. This information is only used to contact you with information about your tour. In rare cases, we may need to share your contact information with tour guides who are responsible for the booked tour. Otherwise, we do not sell or share this information with any third parties.</p>

<p>At the time of booking, we also ask you for payment information such as credit card number or bank transfer details. We use the utmost level of online security to safeguard your personal data.&nbsp;</p>

<p>Treks and Trails uses an <strong>Online Booking System Powered by</strong> <a href="https://www.vacationlabs.com/" target="_blank"><strong>Vacation Labs</strong></a> for bookings and operations management.</p>

<p>&nbsp;</p>

<p><strong>Online Security</strong></p>

<p>Our website is protected by the utmost level of online security, meaning your personal data is safe with us. All transactions on the site are secured by COMODO and any data we gather from users is securely stored and safeguarded by the best firewalls available.</p>

<p>&nbsp;</p>

<p><strong>All Rights Reserved</strong></p>

<p>No content on our website may be used or reproduced for any commercial purposes. Treks and Trails India reserves the right to amend this privacy policy at any time.</p>

<p>&nbsp;</p>
</div>
{% endblock %}