{% extends "trekkapp/Home.html" %}
{% block content %}
<center><h1>Refund and Cancellation</h1></center>
<div style="margin:50px;">
<div class="content text-align-left ckeditor-content"><p>Please Read Carefully the Cancellation and Refund Rules – for Domestic and National Tours / Treks / Camping / Events by Treks and Trails India</p>

<p>&nbsp;</p>

<p><strong>Cancellation and Refund Policy:</strong></p>

<p>&nbsp;</p>

<p><strong>Events (1 or 2 days)</strong></p>

<ol>
	<li>75% refund if notified via phone conversation 8 or more days prior to the event date.</li>
	<li>50 % refund if notified via phone conversation 4 to 7 days prior to the event date.</li>
	<li>No refund if the cancellation requested is less than 3 days prior to event date</li>
	<li>No show No Refund.</li>
	<li>Event Tickets cannot be transferred to another date against cancellation.</li>
	<li>Event Tickets cannot be transferred to another person against cancellation.</li>
	<li>If Trek get cancelled, we will refund "Trek Amount" only.</li>
</ol>

<p>&nbsp;</p>

<p><strong>Events (3-4 Days)</strong></p>

<ol>
	<li>If cancellation done prior to 30 days of outing 75% will be refunded.</li>
	<li>If done prior to 15 days of outing 50% will be refunded</li>
	<li>If done prior to 10 days of outing 30% will be refunded</li>
	<li>After that no refund will be provided</li>
	<li>No show No Refund</li>
	<li>Event Tickets cannot be transferred to another date against cancellation</li>
	<li>Event Tickets cannot be transferred to another person against cancellation</li>
	<li>If Trek get cancelled, we will refund "Trek Amount" only</li>
</ol>

<p>&nbsp;</p>

<p><strong>Events (More than 4 Days)</strong></p>

<ol>
	<li>If cancellation done prior to 45 days of outing 75% will be refunded.</li>
	<li>If done prior to 30 days of outing 50% will be refunded</li>
	<li>If done prior to 15 days of outing 30% will be refunded</li>
	<li>After that no refund will be provided</li>
	<li>No show No Refund</li>
	<li>Event Tickets cannot be transferred to another date against cancellation</li>
	<li>Event Tickets cannot be transferred to another person against cancellation</li>
	<li>If Trek get cancelled, we will refund "Trek Amount" only</li>
</ol>

<p>&nbsp;</p>

<p><strong>Dudhsagar Waterfall Trek</strong></p>

<ol>
	<li>If cancellation done prior to 30 days of outing 75% will be refunded</li>
	<li>If done prior to 15 days of outing 50% will be refunded</li>
	<li>After that no refund will be provided</li>
	<li>No show No Refund</li>
	<li>Event Tickets cannot be transferred to another date against cancellation</li>
	<li>Event Tickets cannot be transferred to another person against cancellation</li>
	<li>If Trek get cancelled, we will refund "Trek Amount" only</li>
</ol>

<p>&nbsp;</p>

<ul>
	<li>Refund will be initiated within 5-8 business working days to the original payment method.</li>
	<li>Refund will be paid only by IMPS / Payment Gateway / Gpay / UPI /&nbsp;NEFT / Cheque/ Bank transfer&nbsp;with 5 - 8 days of the completion of event. Even in case of events cancelled by Treks and Trails India, the same process will be followed.</li>
</ul>

<p>&nbsp;</p>

<p><strong>Treks and Trails India will not offer nor pay any discounts or refunds for missed or unused services due to the traveller’s own fault, negligence or breach of these&nbsp;Terms.</strong></p>

<ul>
	<li>Please note that cancellation charges are calculated on the Total amount payable and not of advance amount paid.</li>
	<li>Treks and Trails India will not be responsible for any losses incurred for any train/air/bus/taxi bookings, hotel bookings or extension to the camp done by clients/participants (either independently or through us)</li>
	<li>Refund will be paid only by IMPS / Payment Gateway / Gpay / UPI /&nbsp;NEFT / Cheque/ Bank transfer&nbsp;with 5 - 8 days of the completion of event. Even in case of events cancelled by Treks and Trails India, the same process will be followed.</li>
	<li>Refund will be initiated within 5-8 business working days to the original payment method.</li>
	<li>Transfer of booking to another event will be permitted where feasible and will be at the discretion of the management and participant consent.</li>
	<li>If Treks and Trails India cancels the event and transfer of the booking amount is done, the full amount will be transferred to the participant. For Payment gateway payment GST and transaction charge is not refundable.&nbsp;</li>
	<li>If the participant cancels a booking and opts for transfer of the booking to any other event, only the refund amount (as per applicable policy), will be transferred to the new event.</li>
	<li>In case participant cancels the booking of an event where transfer of booking is done, the participant will be refunded the amount as per applicable cancellation policy.</li>
	<li>In case of cancellation of any event due to reasons beyond control (like Natural calamities, riots, political uncertainty, public transport failure etc.), refund shall be payable with respect to the given refund norms.</li>
</ul>
</div>
{% endblock %}