{% extends "trekkapp/Home.html" %}
{% load static %}
{% block content %}
<center><h1>Terms and Conditions</h1></center>
<div style="margin:50px;"><p><strong>Cancellation By You:</strong><br>
The lead name on the booking must give notice to cancel the tour in writing or mail at our office and we shall refund the tour cost after deduction cancellation charges as under.</p>

<p>In order to cover our expected loss from the cancellation of the booking there is set scale of charges which must be paid by you or any one traveling with you;</p>

<ul>
	<li>From the booking date till 30 days prior to the departure date, 30 % of the package cost is chargeable.</li>
	<li>From 30 days to 15 days prior to the departure date, 50 % of the package cost is chargeable.</li>
	<li>From 15 days to 7 days prior to departure date, 75 % of the package cost is chargeable.</li>
	<li>For cancellations made within 5 days prior to the departure date, 100% of the package cost is chargeable.</li>
</ul>

<p>&nbsp;</p>

<p><strong>Changes Made By Us Before Travel:</strong><br>
We reserve the rights to do any change in your Tour&nbsp;program&nbsp;due to unexpected conditions. If you do not want to accept a significant change, which we will tell you about before you depart, we will (if we are able to do so) offer you an alternative tour of equivalent or closely similar standard and price at no extra cost, or a less expensive tour, in which case we will refund the difference in price. If you do not wish to take the alternative we offer you, you can choose a different tour offered for sale by us and pay, or receive a refund of, any price difference. Or, if you prefer, you can cancel your tour and receive a full refund of deposits, which you have paid to us, except for any amendment charges of Rs 1500.00.&nbsp;<br>
<br>
Unless the change is as a result of circumstances such as fighting, disturbance, terrorist movement, natural tragedy, fire, bad weather conditions, we will pay you compensation as;</p>

<ul>
	<li>Before 12 days prior to the departure date, Deposits only.</li>
	<li>Before 7 days prior to the departure date, 100% of the tour cost.</li>
	<li>Before 4 days prior to the departure date, 100% of the tour cost + 1.25% of tour cost.</li>
	<li>Before 2 days prior to the departure date, 100% of the tour cost + 3.50% of tour cost.</li>
</ul>

<p>&nbsp;</p>

<p><strong>Circumstances Beyond Our Control:&nbsp;</strong><br>
We cannot pay any compensation, reimburse expenses, or cover losses for any amount or otherwise accept responsibility, if as a result of circumstances beyond our control, we have to change your tour after booking, or we, cannot supply your tour, as we had agreed, or you suffer any loss or damage of any description. When we refer to circumstances beyond our control, we mean any event that we could not foresee or avoid, even after taking all reasonable care. Such circumstances will usually include, but are not limited to, war, threat of war, airport closures, epidemic, natural or nuclear disaster, terrorist activity, civil unrest, industrial dispute, bad weather.<br>
<br>
<strong>Your Responsibility:</strong><br>
We want all our customers to have an enjoyable, carefree holiday. But you must remember that you are responsible for your actions and the effect they may have on others. If we, or another person in authority, believe your actions could upset, annoy or disturb other customers or our own staff, or put them in any risk or danger, or damage property or you are unfit to travel, we may end your tour and terminate your contract. You and your travelling party will be prevented from using your booked accommodation, transport, and any other Travel Arrangements forming part of your booking and we will not be liable for any refund, compensation or any other costs you have to pay. Alternatively at our discretion, you may be permitted to continue with your tour but may have additional terms of carriage imposed upon you.</p>

<p>In addition to the above and the effect your actions may have on others, you must particularly also bear in mind that you are responsible for your safety, and that you are responsible for the condition of the property you occupy. We are not responsible for any accidents which occur in or around irresponsible&nbsp;behavior&nbsp; or for any accidents which occur anywhere on properties because of glass, china or the like which you have broken and/or have left in a way in which injury can result.</p>

<p>We expect that you will enjoy your holiday with us. We appreciate that you may well drink alcohol as part of your enjoyment. You must, however, do so responsibly and we will have no liability to you for any injury, loss or damage you suffer as a result of your judgment being impaired wholly or partly by alcohol.</p>

<p>We will hold you and the members of your travelling party jointly and individually liable for any damage to the accommodation, furniture, apparatus or other materials located within the accommodation, together with any legal costs we incur in pursuing a claim. It is your duty to report any breakages, defects or damage to an appropriate person immediately.</p>

<p>If your&nbsp;behavior&nbsp;or the&nbsp;behavior&nbsp;of any members of your travelling party causes any diverted we and/or the carrier will hold you and those members jointly and individually liable for all costs incurred as a result of that diversion. We cannot accept liability for the&nbsp;behavior&nbsp;of others in your accommodation, or for any facilities/services withdrawn as a result of their action.</p>

<p><br>
<strong>If You Have A Complaint:</strong><br>
We aim to provide the best tour possible. However, if you are not satisfied please complain as soon as possible to the relevant person (for example, the accommodation management or transport supplier). If they cannot help, you must tell your tour Representative and we will do everything reasonably possible to sort the problem out. If you are still not satisfied, If you do not have the services of a Representative, you must contact us at the given Email ID or Phone Number. No complaints or refund requests for the same be entertained after the tour ends.</p>

<p>&nbsp;</p>
</div>
{% endblock content %}